<h1>Trips Menu</h1>

<div>	
	<% if current_user.locations.count == 0 || current_user.trips.count == 0 %>
		<div>You have no locations or no trips being tracked to your account. Please add them accordingly.</div>
	<% end %>

	<ul>
		<head>Trips By Location</head>
		<% current_user.



	</ul>



</div>