<h1>Trips Menu</h1>

<div>	
	<ul>
		<head>Trips By Location</head>

		<% current_user.locations.each do |location| %>
			<li><%= location.name %> <%= link_to "Add trip", new_trip_path(location.id) %>
				<br>
				Total Number of Trips: <%= location.trips.count %>
				<% if location.trips.count > 0 %>
					<% location.trips.each do |trip| %>
						<ul>
							<li><%= trip.date %></li>
						</ul>
					<% end %>
				<% end %>
			
			</li>
			<br>
		
		<% end %>
	</ul>

</div>