<div>
	<h1 class="title">Admin Mode</h1>
	<p>
		<em>Admins should only delete an image if deemed necessary per their discretion.</em>
	</p>
	<br />

	<% @user.images.each do |image| %>
		<div class="thumb-container three columns">
			<%= image_tag(image.data_url(:thumb).to_s) %>
			<%= link_to "remove", image, :method => :delete %>
		</div>
	<% end %>
</div>