<h1 class="title">About CharterTracker</h1><br />

<div>
	<h3>Background</h3>
	<p>
		CharterTracker was originally intended to track user ratings for charter fishing trips in the NYC/Long Island region. This is only a beta version with the potential for tons of future implementations.
	</p><br />
	
	<h3>Getting Started</h3>
	<ol>
		<li>Add locations/ports to your account.</li>
		<li>Add a trip to one of your locations.</li>
		<li>Add images to your gallery.</li>
		<li>Use the Tracker to view the combined average of all the communities data.</li>
		<li>Contribute more trips to hit the leaderboards and share your gallery!</li>
	</ol><br />

	<h3>Why Use CharterTracker?</h3>
	<p class="bottom-border">
		CharterTracker was designed with a few principles in mind.
	</p><br />

	<ul>
		<li class="bottom-border">
			<span class="bold-me-small">• A personal fishing log</span>. You can draw your own conclusions based on captains, vessels, ports of departure, and any other comments you wish to include.
		</li>
		<li class="bottom-border">
			<span class="bold-me-small">• CharterTracker will not blow up your spot.</span>
			CharterTracker will not track your exact fishing spot nor your coordinates so captains and users do not have to worry about their spots being put on blast.
		</li>
		<li class="bottom-border">
			<span class="bold-me-small">• More info, less drama.</span> CharterTracker allows you to view the fishing communities data without you having to directly interact with the community.
		</li>
		<li class="bottom-border">
			<span class="bold-me-small">• Scalability.</span> Future updates can include weather conditions, tide charts, and other innovative features. This will allow you to draw more insight on your fishing game. 
		</li>
		<li class="bottom-border">
			<span class="bold-me-small">• Image Storage.</span> It's all about the pictures these days. Users can store a limited number of images for free. I will try to increase this limit as the site grows and if/when I get a job.
		</li>
		<li class="bottom-border">
			<span class="bold-me-small">• Free.</span> I'm unemployed and built this site for my friends and family to enjoy. That's basically what fishing is all about to me.
		</li>
	</ul>

	<h3>About Me</h3>
	<p>
			My name's Joe. I'm full stack web developer who enjoys inshore fishing. I'm no expert angler but I genuinely enjoy the art and science of fishing. Feel free to check out my web dev portfolio or provide me with feedback on CharterTracker.
	</p><br />
	<a href="http://joehjung.com" target="_blank">My Portfolio</a><br />
	<a href="mailto:joejungle21@gmail.com">JoeJungle21@gmail.com</a><br />
	<br />
	<br />
	<br />
	<br />
	<%= link_to "A Tribute to The Legend", funny_path %>


</div>


