<div>
	<h1 class="title">The Legend Himself!</h1>
	<br />
	<div class="center-me">
		<img src="/assets/lonebull.jpg"><br />
		<br />
		<audio src="https://s3.amazonaws.com/chartertrackerbucket/lonebull-theme.mp3" controls autoplay>
	</div>
</div>