<div>
	<h1 class="title">The Legend Himself!</h1>
	<br />
	<div class="center-me">
		<img src="/assets/lonebull.jpg"><br />
		<br />
		<%= audio_tag "lonebull-theme.mp3", autoplay: true, controls: true %>

	</div>
</div>