<h1>Welcome to Charter Tracker <%= current_user.name %>!</h1>

<div id="home-menu">
	<%= link_to "Locations Menu", locations_path %>

	<%= link_to "Trips Menu" %>

	<%= link_to "Track Menu" %>
</div>
