<h2 id="welcome">Welcome to Charter Tracker <%= current_user.name %>!</h2>

<div id="leaderboards">
	<div class="title">
		<h2>Leaderboards</h2>
			<p>Get on the leaderboard to share your gallery!</p>
	</div><br />

	<% @topten.each do |user| %>
	<strong>Name:</strong> <%= user.name %><br />
	<strong>Trips Contributed: </strong><%= user.trips_counter %><br />
	<br />
		<% user.images.each do |image| %>
		<div class="thumb-container three columns">
			<%= link_to image_tag(image.data_url(:thumb).to_s), image_path(image) %>
		</div>
		<% end %>
	<hr>
	<% end %>
</div>

<script>
	$(function() {

	})
</script>