<h1>Test</h1>



<p>first test
	<br>
	[{:name=>"Captree", :rating=>4, :total=>4, :frequency=>1}, {:name=>"Freeport", :rating=>5, :total=>5, :frequency=>1}, {:name=>"World's Fair Marina", :rating=>1, :total=>1, :frequency=>1}, {:name=>"World's Fair Marina", :rating=>3, :total=>3, :frequency=>1}] 
</p>
<br>
<br>
<br>
<h5>@initial = <%= @initial %></h5>
<br>
<h5>@locations = <%= @locations %></h5>
<br>
<%= @locations.class %>

