<h1>Test</h1>
<br>
<h5>All</h5>
<br>
<% @initial.each do |trip| %>
<br>
<%= trip %>
<% end %>
<br>
<br>
<h5>@locations</h5>
<br>
<%= @locations %>
<br>
<br>
<h5>@array</h5>
<br>
<%= @array %>
<br>
<br>
<h5>@warhead</h5>
<%= @warhead %>