#login-bar {
	background-color: #FFFFFF;
	border-bottom: 1px solid #000000;
	height: 20px;
	margin: auto;
	padding: 2px 8px 2px 8px;
	position: fixed;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 100;
}

#login-alert-container {
	background-color: white;
	border-top: 1px solid #000000;
	bottom: 0;
	height: 20px;
	width: 100%;
	position: fixed;
	text-align: left;
	z-index: 100;
}

body {
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	margin-top: 20px;
	width: 100%
}

.container {
}

#main-view-container {
	background-color: white;
	border-radius: 2px;
	opacity: .7;
	padding: 5px;
}

.bar {
  fill: steelblue;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {

}