/* Called outside of the skeleton container */
body {
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	margin-bottom: 50px;
	width: 100%
}

#login-alert-container {
	background-color: black;
	bottom: 25px;	
	height: 21px;
	padding: 2px;
	position: fixed;
	width: 100%;
}

.alert-error strong {
	color: white;
}

#footer {
	background-color: #000000;
	border-top: 1px solid #ffffff;
	bottom: 0;
	height: 20px;
	left: 0;
	padding: 2px 10px 2px 10px;
	position: fixed;
	width: 100%;
}

#footer strong {
	color: #ffffff;
}

#footer a {
	color: #ffffff;
	padding: 0 4px;
}

#footer a:hover {
	color: #3366FF;
}

#name {
	color: steelblue;
	font-weight: bold;
	padding-right: 2px;
}

.button-container {
	display: inline-block;
}

/* Called inside the skeleton container */
#main-view-container {
	background: #D1FFFF;
	border-radius: 2px;
	margin-top: 25px;
	opacity: 1.0;
	padding: 10px;
}

#main-view-container {
}

/* Devise views */
#welcome {
	font-weight: bold;
	text-align: center;
}

#sign-in-form-container {
	text-align: center;
}

#sign-in-form-container input {
	margin: auto;
}

#sign-in-visitor-container {
	text-align: center;
}

#tag {
	color: #000000;
	float: right;
	font-size: .75em;
	text-align: right;
}

/* Home view */
#home-menu {
	background-color: #000000;
	border-bottom: 1px solid #ffffff;
	height: 25px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.home-menu-item {
	display: inline;
	padding: 0px 3px;
}

.home-menu-item a {
	color: #ffffff;
}

.home-menu-item a:hover {
	color: #3366FF;
	font-weight: normal;
}

.thumb-container {
	text-align: center;
}

.nuub-container {
	text-align: center;
}

/* Trips view */
table, th, tr, td {
	border: 1px solid black;
	padding: 0 5px;
}

th {
	background-color: #3366FF;
	color: #ffffff;
}

tr:nth-child(even) {
	background-color: #ffffff;
}

tr:nth-child(odd) {
	background-color: #CCDFFF;
}

/* Locations view */
.my-locations {
	border-bottom: 1px solid #ffffff;
}

.remove-button-container {
	display: inline-block;
	margin-left: 20px;
}

/* Images view */
img {
	border: 1px solid #000000;
}

.circle {
	border: 1px solid #ffffff;
	border-radius: 20px;
	background-color: #67FF4D;
	display: inline-block;
	height: 20px;
	text-align: center;
	width: 20px;
}

.fo-show-container {
	margin: auto;
	width: 680px;
}
 
input[type="file"] {
	border: 1px solid grey;
	background-color: white;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

/* Tracker view */
.bar {
  fill: steelblue;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* Admins view */
#user-list li {
	border-bottom: 1px solid black;
	padding: 2px;
}

/* Misc */
.bold-me {
	font-weight: bold;
}

.center-me {
	text-align: center;
}

.font-playball {
	font-family: 'Playball', cursive;
}

.font-roboto {
	font-family: 'Roboto', sans-serif;
}

.font-gentium {
	font-family: 'Gentium Book Basic', serif;
}

.inline-me {
	display: inline;
}

.left-me {
	display: inline-block;
	text-align: left;
}

.right-me {
	display: inline-block;
	position: absolute;
	right: 0;
	text-align: right;
}

.title {
	font-family: 'Playball', cursive;
	margin: 10px 0;
	text-align: center;
}