<h1 class="title">New Location</h1> 
<p>Once created, a new locations must be approved by an admin to ensure accuracy.</p><br />
<%= form_for location do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
		<%= f.submit %>
	</div>
<% end %>