<div id="image-form">
	<%= form_for @image, :html => { :multipart => true } do |f| %>
		<%= f.label "Image" %><br />
		<span class="circle">1</span>
		Click To Choose File<br />
		<%= f.file_field :data %><br />
		<hr>
		<span class="circle">2</span>
		Submit<br />
		<%= f.submit %>
	<% end %>
</div>