<h3><%= current_user.images.count %></h3>
<div>
	<% if current_user.images.count > 0 %>
		<% @images.each do |image| %>
			<%= image_tag image.data_url(:thumb).to_s %><br />
			<%= link_to "remove", image, :method => :delete %>
		<% end %>
	<% else %>
		You have no images
	<% end %>
</div>

<%= link_to "Add Image", new_image_path %>